<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kr.saintdev.gametrans">
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name=".engine.auth.GlobalApplication">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <activity android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".views.activitys.GameRegisterActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme"/>
        
        <activity android:name=".views.activitys.AuthActivity"
            android:screenOrientation="portrait"
            android:theme="@style/NoActionBarTheme" />

        <activity android:name=".views.activitys.MyGameActivity"
            android:screenOrientation="portrait" />

        <service
            android:name=".engine.service.GameTranService"
            android:description="@string/app_name"
            android:enabled="true"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>

            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility" />
        </service>

        <!-- 오버레이 버튼 서비스 -->
        <service android:name=".engine.service.RunButtonOverlay" />

        <!-- ぼんやくサビス　-->
        <service android:name=".engine.service.TranslateOverlayService" />

        <!-- 화면 캡쳐 서비스 -->
        <service android:name=".engine.service.DisplayCaptureService" />

        <receiver android:name=".engine.broadcast.GameToggleBroadcast">
            <intent-filter>
                <action android:name="kr.saintdev.pst.gametoggle" />
            </intent-filter>
        </receiver>
    </application>

</manifest>